/*
-- Table of content

 =Import
 =Common
 =Main
-------------------------------------------------- */

/* =Import
-------------------------------------------------- */
@import "main.less";

/* =Common
-------------------------------------------------- */
.container-fluid,
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4,
.col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8,
.col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  padding-left: 0px;
  padding-right: 0px;
}
.h1, .h2,
h1, h2, h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

a{
color:#333;
}

.fullWidth {
  width: 100%;
}

.tabSwitch .freeWidth {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.height30Btn1 {
  height: 30px;
  color: white;
  background-color: @black;
  &:hover {
    color: white;
    background-color: #556167;
  }
  &:active {
    color: white;
    background-color: #000000;
  }
}

.height40Btn {
  height: 40px;
  color: white;
  background-color: @black;
  &:hover {
    color: white;
    background-color: #556167;
  }
  &:active {
    color: white;
    background-color: #000000;
  }
}

.height60Btn1 {
  height: 60px;
  color: white;
  background-color: @black;
  &:hover {
    color: white;
    background-color: #556167;
  }
  &:active {
    color: white;
    background-color: #000000;
  }
  &:disabled {
    background-color: @gray;
  }
  &.cancel {
    background-color: @gray;
    margin-left: 20px
  }
}

// save / cancel
.height80Btn { 
  font-size: 18pt;
  width: 300px;
  height: 80px;
  color: white;
  background-color: @black;
  &:hover {
    color: white;
    background-color: #556167;
  }
  &:active {
    color: white;
    background-color: #000000;
  }
  &:disabled {
    background-color: @gray;
  }
  &.cancel {
    background-color: @gray;
    margin-left: 20px
  }
}

.height30Btn3 {
  height: 30px;
  color: white;
  background-color: @gray;
  &:hover {
    color: white;
    background-color: #C1C7CB;
  }
  &:active {
    color: white;
    background-color: #5A6064;
  }
}

.height50Btn4 {
  height: 50px;
  color: #384953;
  background-color: @white-bg;
  &:hover {
    color: white;
    background-color: #2B393F;
  }
  &:active {
    color: white;
    background-color: #BCBABA;
  }
}

.dropDownMenu4 {
  display: none;
  line-height: 45px;
  color: #384953;
  background-color: @white;
  margin-top: 2px;
  margin-left: 135px;
  width: 240px;
  float: right;
  position: absolute;
  z-index: 10;
  right: 0;
  &~.arrow {
    width: 14px;
    height: 6px;
    background-image: url(../images/style4_arrow.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  &>div {
    cursor: pointer;
    text-indent: 15px;
    opacity: 0.5;
    border-bottom: 2px solid #D5D5D5;
    &:hover {
      opacity: 1;
      color: white;
      background-color: #C1C7CB;
    }
    &:active {
      opacity: 1;
      color: white;
      background-color: @gray;
    }
  }
}

.sub-menu > :nth-child(3) {
  display: inline-block;
}

/* =Main
-------------------------------------------------- */
#main {
  margin-top: 80px;
  width: 1190px;
  padding-left: 10px;

  &.withSectionBar {
    margin-top: 20px;
  }
}

#main>.col-xs-9 {
  padding-right: 10px;
}

.paginationItem {
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  color: #D5D5D5;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 32px;
}

.paginationNumber {
  border: 2px solid #D5D5D5;
  border-radius: 50%;
  &:hover {
    border: 2px solid #19699C;
    color: #19699C;
  }
}

.tab {
  height: 53px;
  line-height: 25px;
  margin-bottom: 10px;
  .tabSwitchItem {
    width: 100px;
    font-size: 14px;
    color: #636A6A;
    &.tabSwitchTitle {
      font-size: 14px;
      color: #636A6A;
      padding-left: 0;
    }
    &:hover {
      border-bottom: 2px solid #D5D5D5;
    }
  }
  a:hover {
    text-decoration: none;
  }
  p {
    margin: 0;
  }
}

a.anchor{
  display: block; 
  position: relative; 
  top: -20px; 
  visibility: hidden;
  &.non-new-session {
    top: -80px;
  }
}

.tabSwitch {
  height: 53px;
  line-height: 50px;
  margin-bottom: 10px;
  border-bottom: 3px solid #D5D5D5;
  .tabSwitchItem {
    border-bottom: 2px solid #D5D5D5;
    font-size: 14px;
    color: #636A6A;
    &.tabSwitchTitle {
      font-size: 18px;
      color: #636A6A;
      padding-left: 0;
    }
    &.hoverable {
      cursor: pointer;
      color: rgba(99, 106, 106, 0.5);
      &.current, &:hover {
        color: #0D98E8;
        border-bottom: 2px solid #0D98E8;
        background: linear-gradient(0deg, #0D98E8 0px, white 2px);
      }
    }
  }
  button {
    line-height: 0px;
    margin-top: 10px;
  }
}

.month {
  margin-top: 20px;
}

.status {
  margin-top: 5px;
}

.number2 {
  margin-top:-5px;
  line-height: 1.7;
}

h1{
  margin-top:0px;
}

.formItem {
  margin: 20px 0px;
}

.formColumn2 {
  padding-left: 10px;
}

input[type='checkbox'] {
  width: 12px;
  height: 12px;
}

.floatRight {
  float: right;
}

.companyInfo {
  margin-bottom: 20px;
  &>p {
    margin-bottom: 0px;
  }
}

p {
  color: @black;
}

.pInfo {
  &>p {
    margin: 8px 0 10px;
  }
}

.deliveryTerms {
  margin-top: 40px;
}

.contactBox {
  background-color: @white-bg;
  min-height: 100px;
  &.left {
    margin-left: -5px;
  }
  &.right {
    margin-left: 10px;
    margin-right: -5px;
  }
  div {
    &.content {
      padding: 20px;
    }

    .details {
      padding-top: 20px;
    }
  }
}

hr.formHr {
  border-top: 2px solid #F7F7F7;
}

.brandImageUploadBox {
  background-color: @white-bg;
  max-width: 90%;
  height: 100px;
  &>input[type='file'] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  .uploadBtn {
    font-size: 5px;
    height: 15px;
    color: white;
    background-color: @gray;
    padding-left: 12px;
    padding-right: 12px;
    &:hover {
      color: white;
      background-color: #C1C7CB;
    }
    &:active {
      color: white;
      background-color: #5A6064;
    }
  }
  .uploadContentDiv {
    line-height: 60px;
  }
}

textarea {
  width: 100%;
  height: 100px;
  background-color: @gray-light;
  border: none;
  resize: none;
}

section.step-bar {
  margin-top: 110px;
  font-size: 14px;
  border: 1px solid @gray;
  border-radius: 50px;
  .col-md-15 {
    padding: 0px;
    a {
      color: @black;
      &:hover {
        text-decoration: none;
      }
      div {
        border-radius: 20px;
        padding: 10px;
        position: relative;
        background-color: transparent;
        &.active, &.active:hover {
          cursor: text;
          color: @white-bg;
          background-color: @black;
        }
        &:hover {
          color: @black;
          background-color: @gray-light;
        }
        &:active {
          color: @black;
          background-color: @gray;
        }
      }
    }
  }
}

.step-bar-container {
  width: 1210px;
}

.new-section {
  margin-top: 90px;

  &.first-section {
    margin-top: 60px;
  }
  &.tab-section {
    margin-top: 60px;
    margin-bottom: 40px;
  }
}

.delivery-table-row {
  padding-top: 10px;
  padding-bottom: 5px;
}

input {
  width: 100%;
  background-color: @gray-light;
  border: none;
  &[type=text], &[type=password], &[type=email] {
    line-height: 50px;
    padding-left: 20px;
    border-left: 6px solid @gray-light;
    &:focus {
      outline: 2px solid @gray;
    }
    &~span.error-msg {
      display: none;
    }
    &.error {
      border-left: 6px solid #FF0000;
      &~span.error-msg {
        color: #FF0000;
        display: block;
      }
    }
  }
  &[type=checkbox] {
    opacity: 0;
    float: left;
    width: 18px;

    &[type=checkbox]+label {
      color: @gray;
      margin: 0;
      clear: none;
      padding: 5px 0 4px 24px;
      background: url('../images/form/checkbox_off.png') left center no-repeat;
    }
    &[type=checkbox]:checked+label {
      color: @black-light;
      background-image: url('../images/form/checkbox_on.png');
    }
  }

  &[type=radio] {
    opacity: 0;
    float: left;
    width: 18px;

    &[type=radio]+label {
      color: @gray;
      margin: 0;
      clear: none;
      padding: 5px 0 4px 24px;
      background: url('../images/form/radiobtn_off.png') left center no-repeat;
    }
    &[type=radio]:checked+label {
      color: @black-light;
      background-image: url('../images/form/radiobtn_on.png');
    }
  }

}